.container {
  overflow: hidden;
  margin: 0 auto;
}

p {
  margin: 0;
  text-align: center;
}

#fake-tinder {
  max-width: 300px;
  height: 100%;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
}
#fake-tinder .header {
  padding: 5px 10px;
  border-bottom: solid 1px #f2f2f2;
}
#fake-tinder .header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#fake-tinder .header i {
  color: #cdcdcd;
}
#fake-tinder .header .header-left {
  float: left;
}
#fake-tinder .header .header-right {
  float: right;
}
#fake-tinder .cards {
  width: 100%;
}
#fake-tinder .cards .card {
  max-width: 290px;
  overflow: hidden;
  display: flex;
  height: 350px;
  margin: 7px auto;
  border-radius: 7px;
  border: solid 1px lightgray;
  background-size: cover;
}
#fake-tinder .cards .card.seven {
  background: #fff;
}
#fake-tinder .cards .info {
  background: #fff;
  width: 100%;
  align-self: flex-end;
  padding: 15px;
}
#fake-tinder .cards .info h2 {
  font-size: 20px;
  margin: 0;
}
#fake-tinder .cards .info p {
  margin: 0;
  font-size: 13px;
  color: gray;
}
#fake-tinder .buttons {
  display: flex;
  width: 245px;
  margin: 12px auto;
  justify-content: center;
}
#fake-tinder .buttons .button {
  display: flex;
  border: solid 9px #efefef;
  border-radius: 40px;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  margin: 0 -5px;
}
#fake-tinder .buttons .button.no {
  color: #ff6b6b;
  font-size: 28px;
  width: 60px;
  height: 60px;
}
#fake-tinder .buttons .button.yes {
  color: #4ccc93;
  font-size: 28px;
  width: 60px;
  height: 60px;
}

#fake-tinder .buttons .button.no:hover {
  color: #e05d5d;
}
#fake-tinder .buttons .button.yes:hover {
  color: #3ea576;
}
